.Chbutton {
  padding: 12px;
  background: black;
  border: none;
  color: #fff;
  border-radius: 7px;
  margin-right: 7px;
  cursor: pointer;
  width: 10vw;
}
.choForm {
  transition: all 0.2s linear;
}
.CH__p {
  font-size: 3vw;
}
.choForm:hover {
  transform: translateY(-3px);
}
.choForm:active {
  transform: translateY(0px);
}
@media (max-width: 600px) {
  .Chbutton {
    width: 30vw;
  }
}
