.MobileExploreContainer {
  background: url("//images/pic3.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 5;
  backdrop-filter: blur(5px);
}
.Header h2 {
  color: #fff;
}
.SearchForm {
  flex: 0.8;
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
}
.Filtercontainer {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 10vh;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  width: 50%;
  background: #00000070;
  backdrop-filter: blur(5px);
  color: #fff;
  padding: 10px;
}
.FilterInput {
  border-color: transparent;
  border-bottom: 3px solid gray;
  width: 60%;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-left: 1rem;
  background-color: transparent;
}

.SearchInput {
  width: 90%;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-left: 1rem;
  background-color: transparent;
}
.SearchForm {
  position: relative;
}
.SearchResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  height: 100vh;
}
.TogglePlayMobile {
  height: 45px;
  cursor: pointer;
  transition: all 0.2s linear;
}
