/* .MainContainer img {
  height: 50%;
  margin: 0 2rem;
} */
.BodyContainer h1 {
  color: #fff;
  font-size: 3rem;
}
.BodyContainer {
  margin: 0 2rem;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.StartBtn {
  background: linear-gradient(45deg, #93032e8f, #ce86458c);
  color: #fff;
  border: 2px solid #93866f;
  border-radius: 17px;
  min-width: 40%;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  /* height: 100%;
  width: 41%; */
}
.StartBtn:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #93032e, #e08e45);
  border-color: #7a2015;
}
.StartBtn:active {
  transform: scale(1);
  border-color: #fff;
}
.BodyContainer p {
  width: 50%;
  color: #e08e45;
  margin: 1rem 0;
}
.Wrapper {
  background-color: #0000004f;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Prbtn {
  border: none;
  padding: 10px;
  margin-right: 5px;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.Prbtn:hover {
  transform: translateY(-3px);
}
.Prbtn:active {
  transform: translateY(0px);
}
.Join {
  color: #fff;
}
/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6vh;
  background-color: gray;
}
.footer h3 {
  color: lightgray;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .MainContainer img {
    display: none;
  }
  .Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .BodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
  }
  .BodyContainer p {
    width: 100%;
    text-align: center;
  }
}
