.LoginWrapper {
  background-color: #0000004f;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 7px;
  flex-direction: column;
}
.LoginForm {
  background-color: #f44336;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
}
.LoginButton {
  border: none;
  background-color: transparent;
  height: 100%;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 13px 30px;
}
.GoogleIcon {
  background-color: #c53126;
  padding: 13px;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  color: #fff;
  height: 100%;
  border-radius: 7px 0 0px 7px;
}
.Join {
  color: lightgray;
  margin-bottom: 2rem;
  font-weight: lighter;
}
.LoginButton:hover {
}
.LoginSocials {
  /* background-color: white; */
  backdrop-filter: blur(5px);
  padding: 20px;
  border: 2px solid gray;
  border-radius: 17px;
}
@media (max-width: 600px) {
  .LoginButton {
    width: 40vw;
  }
  .Join {
    font-size: 7vw;
  }
}
