.NavBar {
  top: 0;
  width: 100%;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 7px 7px 0 0;
  transition: all 0.4s linear;
}
.ToggleButton {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.ToggleButton:hover {
  transform: translateY(-3px);
}
.ToggleButton:active {
  transform: translateY(0px);
}
.TitleSpan {
  transition: all 0.2s linear;
}
.NavItem {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.Nav {
  display: flex;
  align-items: center;
}
.LogoTitle {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #fff;
}

.title {
  color: #fff;
  display: flex;
  transform: all 0.2s linear;
}
.searchInput {
  background-color: transparent;
  border: none;
  margin: 0 1rem;
  padding: 10px;
  font-size: 15px;
  color: #fff;
}
.searchForm {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  border-bottom: 2px solid gray;
  transition: all 0.5s linear;
  color: gray;
}
.searchForm:focus-within {
  border-color: #fff;
  color: #fff;
}
.TogglePlayMobileNavBar {
  cursor: pointer;
  transition: all 0.2s linear;
  height: 32px;
}
.UserTab {
  display: flex;
  align-items: center;
}
.AvatarIcon {
  margin: 0 1rem;
  cursor: pointer;
}
li {
  list-style: none;
}
.ProfileIcon ul {
  display: flex;
  transition: all 0.2s linear;
  flex-direction: column;
  position: absolute;
  background-color: #0006;
  color: #000;
  border-radius: 10px;
  /* margin-top: 5px; */
  width: 10%;
  z-index: 2;
  right: 0;
}
.ProfileIcon .MuiAvatar-root {
  border-radius: 30%;
}
.ProfileIcon ul li {
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
.ProfileIcon ul a li:first-child {
  border-radius: 10px 10px 0 0;
}
.ProfileIcon ul li:last-child {
  border-radius: 0 0 10px 10px;
}
.ProfileIcon ul li:hover {
  background-color: #00000070;
}
/* .ProfileIcon:hover ul {
  display: flex;
} */
@media (max-width: 750px) {
  .ProfileIcon ul {
    width: 200px;
  }
}
