.PlayerContainer {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.SongBanner {
  height: 60vh;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #aaaaaa4b;
}
.ControlContainer {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ControlBody {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.IframePlayer {
  display: none;
}
@media (max-width: 600px) {
  .PlayerContainer {
    flex-direction: column;
    height: 80%;
    width: 100%;
  }
  .SongBanner {
    width: 100%;
    border-radius: 0;
    margin-bottom: 1rem;
  }
}
