.playlistcontainer {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
.PlayListCard {
  height: 250px;
  width: 250px;
  border: 2px solid gray;
  border-radius: 17px;
  margin: 0.5rem 1rem;
  cursor: pointer;
}
.PlayListCard:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.PlayListCard:first-child .MuiSvgIcon-root {
  color: gray;
  font-size: 4rem;
}
