body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.HeroContainer {
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: backgroud 1s ease-out;
}
.MainContainer {
  height: 88%;
  width: 80%;

  border-radius: 7px;
  background: url("http://192.168.1.129:3000/images/pic3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: ; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
button {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 600px) {
  .MainContainer {
    background-position-x: -9rem;
  }
}
